html, body, img,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    width: 100%;
    padding: 10px 0;
    background-color: #062C30;
}

.header-left {
    float: left;
}

.logo {
    width: 200px;
}

.header-right {
    float: right;
    height: 35px;
    width: auto;
    margin: 15px;
    background-color: rgb(13, 224, 108);
    border-radius: 20px;
}
.header-right a {
    line-height: 35px;
    padding: 0 20px;
    color: white;
    display: inline-block;
    font-weight: 600;
}

.header-right:hover {
    background-color: rgb(13, 221, 134, 0.8);
    transition: all 0.5s;
}

.header-right:active {
    background-color: rgb(12, 196, 94);
}

.content-wrapper {
    text-align: center;
}

.top-content {
    display: -webkit-flex;
    display: flex;
}

.top-content .container {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #075a30;
}

.img-content {
    max-width: 100%;
}

.text-content {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: #075a30;
    align-items: center;
    justify-content: center;    
    color: aliceblue;    
}

.content-text-one {
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
}

.content-text-two {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color: #062C30;
}

.footer-left img {
    padding-top: 5px;
    max-width: 175px;
}